@page "/ResetPassword"
@model ProductApp.Server.Pages.ResetPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Сброс пароля</title>
</head>
<body>
    <h1>Сбросить пароль</h1>
    <form action="/api/auth/resetpassword" method="post">
        <input type="hidden" name="Token" value="@Request.Query["Token"]" />
        <input type="hidden" name="Email" value="@Request.Query["Email"]" />
        <table>
            <tr>
                <td>
                    Новый пароль
                </td>
                <td>
                    <input type="password" name="NewPassword" />
                </td>
            </tr>
            <tr>
                <td>
                    Подтвердите пароль
                </td>
                <td>
                    <input type="password" name="ConfirmPassword" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Отправить" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
