@page "/Settings"
@inject ProductsService productsService
@inject IFileReaderService fileReaderService
@inject NavigationManager navigatorManager
@using System.IO;
@attribute [Authorize(Roles = "Admin")]

<h3>Настройки</h3>

<div class="row">
    <RadzenTextBox Placeholder="Поиск сущностей" Style=" margin: 15px 15px 15px 15px" />
    <RadzenButton Text="Искать" Icon="search" Style=" margin: 15px 15px 15px 15px" />
    <RadzenTextBox Placeholder="Разрешение изображений"  Style="margin:10px;" />
    <RadzenTextBox Placeholder="Настройки редактора"  Style="margin:10px;" />

</div>

@code {

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }


    bool isBusy = false;

    ElementReference inputReference;

    //Сообщения об ошибках
    string message = string.Empty;
    Models.AlertMessageType messageType = Models.AlertMessageType.Success;

   


   
}
