@page "/about"

@attribute [Authorize(Roles = "Admin, User")]

<div class="row">
    <div>
        <h1>
            О нас
        </h1>
        <h2>
            Компания занимается разработкой  программного обеспечения, а также созданием аппаратных решений в области геопозиционирования, созданием приложений(веб-приложения, приложения для Windows, GooglePlay, AppStore), их обслуживанием.
        </h2>
        <h1>
            Контакты
        </h1>
        <h2> Зыков Кирилл Александрович  -  8 953 631 68 66</h2>
        <h2> Мулдашев Джанибек Бекмуханбетович</h2>
        <RadzenImage Path="/images/свидетельство.jpg" Style="height:auto; max-width:100%; margin:5px" />
    </div>
    <div>
    </div>
</div>




@*<SurveyPrompt Title="How is Blazor working for you?" />*@
