@using Microsoft.AspNetCore.Components.Authorization
@using ProductApp.Client.Pages.Auth
@using ProductApp.Client.Shared
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <RedirectToLogin />           
            </NotAuthorized>
        </AuthorizeRouteView>

    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Данная страница не найдена</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
