@page "/Help"

@attribute [Authorize]

<div class="row">
    <div>
        <h1>
           Помощь
        </h1>
        <h2>
           Все имеющиеся вопросы пишите в чат или нижеуказанным сотрудникам  
        </h2>
        <h1>
            Контакты тех поддержки
        </h1>
        <h2> Зыков Кирилл Александрович  -  8 953 631 68 66</h2>
        <h2> Мулдашев Джанибек Бекмуханбетович</h2>
    </div>
    <div>
    </div>
</div>




    @*<SurveyPrompt Title="How is Blazor working for you?" />*@
