
<h1>
    Подбери игрушку и создай уникального персонажа
</h1>

@page "/edituserproducts"
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager
@inject ProductsService productsService
@using System.Net.Http
@inject HttpClient Http
@attribute [Authorize(Roles = "Admin")]
@*//TODO: ЧТО ЭТО AuthorizeView как её лучше применить*@
<AuthorizeView>
     <div class="row">
        <div id="unity-container" class="unity-desktop">
            <canvas id="unity-canvas" width=960 height=600></canvas>
            <div id="unity-loading-bar">
                <div id="unity-logo"></div>
                <div id="unity-progress-bar-empty">
                    <div id="unity-progress-bar-full"></div>
                </div>
            </div>
            <div id="unity-warning"> </div>
            <div id="unity-footer">
                <div id="unity-webgl-logo"></div>
                <div id="unity-fullscreen-button"></div>
                <div id="unity-build-title">Редактор</div>
            </div>
        </div>
    </div>
</AuthorizeView>
@code {

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

}